@* define model*@
@model TotalExpenseLimit

@*ViewData*@
@{
	ViewData["Title"] = "create category";
}

@*write code ---- create form*@
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="ExScript.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		 .box{
            width: 800px;
            padding: 20px 30px;
            border-radius: 5px;
            margin: 40px auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
	</style>
</head>
<div class="row box">
	<div class="col-md-8 offset-2">
		<h4 style="color:dodgerblue;">Add new Category </h4>
	</div>
	<div class="row">
		<div class="col-md-8 offset-2">
			<form asp-action="Edit" method="post">
				@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
				<div asp-validation-summary="All"></div>
				<div class="mb-4 form-group">
					<label asp-for="Total_ExpenseLimit"></label>
					<input asp-for="Total_ExpenseLimit" type="text" class="form-control" />
					<span asp-validation-for="Total_ExpenseLimit" class="text-danger"></span>
				</div>

				<div class="mb-4 form-group">
					<input type="submit" value="Edit" class="btn btn-success float-right" />
					
					<a asp-controller="Dashboard" asp-action="Index"  class="btn btn-outline-secondary float-left">Go To Dashboard</a>
				</div>
			</form>
		</div>
	</div>

</div>

